<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ToDO</title>
</head>
<body>
<div>
    <form th:action="@{/ToDO}" th:method="post" th:object="${plan}">
        <label>Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
    </form>

    <form th:action="@{/ToDO}" th:method="post" th:object="${plan}">
        <label>Enter description: </label>
        <input type="text" th:field="*{description}" id=""/>
    </form>

    <button type="submit">Добавить план</button>
</div>

<div th:each="plan : ${plans}">
    <a th:text="${plan.getName()}"
       th:href="@{/ToDO/{id}(id=${plan.getId()})}"></a>
<!--        <button type="submit" th:href="@{/ToDO/{id}(id=${plan.getId()})}" >Update</button>-->
</div>


</body>
</html>